<ion-header>
  <ion-toolbar>
    <ion-title>{{ department ? 'Edit Department' : 'Add Department' }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cancel()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="departmentForm" (ngSubmit)="submitForm()">
    <ion-list>
      <ion-item>
        <ion-label position="floating">Department Name</ion-label>
        <ion-input formControlName="name" type="text" required></ion-input>
      </ion-item>
      <ion-note color="danger" *ngIf="departmentForm.get('name')?.touched && departmentForm.get('name')?.invalid">
        Department name is required.
      </ion-note>

      <ion-item>
        <ion-label position="floating">Department Code</ion-label>
        <ion-input formControlName="code" type="text" required></ion-input>
      </ion-item>
      <ion-note color="danger" *ngIf="departmentForm.get('code')?.touched && departmentForm.get('code')?.invalid">
        Department code is required.
      </ion-note>

      <ion-item>
        <ion-label position="floating">Location</ion-label>
        <ion-input formControlName="location" type="text" required></ion-input>
      </ion-item>
      <ion-note color="danger" *ngIf="departmentForm.get('location')?.touched && departmentForm.get('location')?.invalid">
        Location is required.
      </ion-note>

      <ion-item>
        <ion-label position="floating">Head of Department (HOD) Name</ion-label>
        <ion-input formControlName="hodName" type="text"></ion-input>
      </ion-item>
    </ion-list>

    <ion-footer>
      <ion-toolbar>
        <ion-buttons slot="end">
          <ion-button type="button" fill="outline" (click)="cancel()">Cancel</ion-button>
          <ion-button type="submit" [disabled]="departmentForm.invalid">{{ department ? 'Update' : 'Add' }}</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-footer>
  </form>
</ion-content>
